body {
    h1 {
        text-align: center;
        color: greenyellow;
    }
    nav {
        position: relative;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        a {
            text-decoration: none;
            margin: 15px;
        }
        a:hover {
            color: yellowgreen;
            zoom: 115%;
        }
    }
}