       div {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-pack: distribute;
           justify-content: space-around;
           button {
               margin: 35px;
               margin-top: 5%;
               text-align: center;
               width: 250px;
               background-color: rgb(255, 255, 255);
               color: yellowgreen;
               font-weight: bold;
               img {
                   width: 50px;
                   height: auto;
               }
               p {
                   color: black
               }
           }
       }
       
       .itColor {
           color: teal;
           font-size: 30px;
       }
       
       #desc {
           display: block;
           h1 {
               text-align: center;
           }
           p {
               margin: auto;
               text-align: center;
               width: 500px;
           }
       }